html,
html.light {

    /* box flavours */
    --default-box: color-mix(in srgb, #ddddff 20%, gainsboro);

    /* box flavours */
    --box-c-character-sheet: gainsboro;
    --box-c-character: var(--default-box);
    --box-c-abilities: var(--default-box);
    --box-c-skills: var(--default-box);
    --box-c-points: var(--default-box);
    --box-c-inventory: var(--default-box);
    --box-c-action-container: var(--default-box);
    --box-c-action-card: var(--default-box);
    --box-c-action-card-spell: var(--default-box);
    --box-c-action-card-weapon: var(--default-box);
    --box-c-action-distance: var(--default-box);
    --box-c-notes: var(--default-box);
    --box-c-action-variant-selectable: var(--default-box);
    --box-c-action-variant-unselectable: lightgray;
    --box-c-action-variant-selected: aquamarine;
    --box-c-lore: white;
    --box-c-simulator-life: var(--default-box);
    --box-c-simulator-turns: var(--default-box);


    /* circles */
    --circle-c-empty: white;
    --circle-c-half: lightgray;
    --circle-c-active: lightgray;
    --circle-c-reduced: firebrick;
    --circle-c-increased: chartreuse;
    --circle-c-full: slategray;

    /* NPCs */

    --npc-header-c: azure;

    /* Actions */

    --actioncard-action-c: cornflowerblue;
    --actioncard-reaction-c: coral;
    --actioncard-skill-icon-c: olivedrab;

    /* Box */

    --box-border-c: gray;
    --box-shadow-c: #00000080;


    /* Lore */
    --lore-img-border-c: aqua;
    --lore-dice-c: bisque;
    --lore-active-cells-c: lavender;
    --lore-skill-rolls-header-c: aliceblue;
    --lore-skill-rolls-cells-c: antiquewhite;

    /* Encounters */

    --encounter-buttonbar-background-c: #ddddff;

    /* Spell Actions */

    --spell-action-filter-allowed: palegreen;
    --spell-action-filter-denied: salmon;


    /* generic */
    --default-border-c: black;
    --text-c: black;
    --background-c: white;
    --button-background-c: lightgray;
    /* --button-disabled-c: #808080; */
    --link-c: blue;
    --unsaved-background-c: darksalmon;
    --header-background-c: color-mix(in srgb, lightgreen 10%, lightgray);
    --menu-item-background-c: color-mix(in srgb, var(--header-background-c) 80%, black);
    --menu-item-hover-c: color-mix(in srgb, var(--header-background-c) 65%, black);
    --striped-table-even-c: whitesmoke;
    --striped-table-odd-c: white;

    --font-weight: 400;
    --font-weight-bold: 700;
}

html.dark {
    --default-box: #373737;

    /* box flavours */
    --box-c-character-sheet: color-mix(in srgb, var(--default-box) 70%, black);
    --box-c-character: var(--default-box);
    --box-c-abilities: var(--default-box);
    --box-c-skills: var(--default-box);
    --box-c-points: var(--default-box);
    --box-c-inventory: var(--default-box);
    --box-c-action-container: var(--default-box);
    --box-c-action-card: var(--default-box);
    --box-c-action-card-spell: var(--default-box);
    --box-c-action-card-weapon: var(--default-box);
    --box-c-action-distance: var(--default-box);
    --box-c-notes: var(--default-box);
    --box-c-action-variant-selectable: var(--default-box);
    --box-c-action-variant-unselectable: slategray;
    --box-c-action-variant-selected: darkolivegreen;
    --box-c-lore: black;
    --box-c-simulator-life: var(--default-box);
    --box-c-simulator-turns: var(--default-box);

    /* circles */
    --circle-c-empty: ghostwhite;
    --circle-c-half: black;
    --circle-c-active: var(--default-box);
    --circle-c-reduced: firebrick;
    --circle-c-increased: chartreuse;
    --circle-c-full: slategray;

    /* NPCs */

    --npc-header-c: #000022;

    /* Actions */

    --actioncard-action-c: cornflowerblue;
    --actioncard-reaction-c: coral;
    --actioncard-skill-icon-c: lightgreen;

    /* Box */

    --box-border-c: gray;
    --box-shadow-c: #80808080;


    /* Lore */
    --lore-img-border-c: aqua;
    --lore-dice-c: saddlebrown;
    --lore-active-cells-c: #440044;
    --lore-skill-rolls-header-c: black;
    --lore-skill-rolls-cells-c: #1c1c1c;

    /* Encounters */

    --encounter-buttonbar-background-c: #002200;

    /* Spell Actions */

    --spell-action-filter-allowed: darkolivegreen;
    --spell-action-filter-denied: maroon;

    /* generic */
    --default-border-c: ghostwhite;
    --text-c: ghostwhite;
    --background-c: black;
    --button-background-c: #404040;
    --button-disabled-c: #808080;
    --link-c: lightskyblue;
    --unsaved-background-c: firebrick;
    --menu-item-background-c: #2c002c;
    --header-background-c: #4c4c4c;
    --menu-item-hover-c: #4c004c;
    --striped-table-even-c: var(--default-box);
    --striped-table-odd-c: black;

    --font-weight: 350;
    --font-weight-bold: 500;
}

/* This is a duplicate of html.dark to avoid FOUC when dark mode is set from the OS */
@media (prefers-color-scheme: dark) {
    html {
        --default-box: #373737;

        /* box flavours */
        --box-c-character-sheet: color-mix(in srgb, var(--default-box) 70%, black);
        --box-c-character: var(--default-box);
        --box-c-abilities: var(--default-box);
        --box-c-skills: var(--default-box);
        --box-c-points: var(--default-box);
        --box-c-inventory: var(--default-box);
        --box-c-action-container: var(--default-box);
        --box-c-action-card: var(--default-box);
        --box-c-action-card-spell: var(--default-box);
        --box-c-action-card-weapon: var(--default-box);
        --box-c-action-distance: var(--default-box);
        --box-c-notes: var(--default-box);
        --box-c-action-variant-selectable: var(--default-box);
        --box-c-action-variant-unselectable: slategray;
        --box-c-action-variant-selected: darkolivegreen;
        --box-c-lore: black;
        --box-c-simulator-life: var(--default-box);
        --box-c-simulator-turns: var(--default-box);

        /* circles */
        --circle-c-empty: white;
        --circle-c-half: black;
        --circle-c-active: var(--default-box);
        --circle-c-reduced: firebrick;
        --circle-c-increased: chartreuse;
        --circle-c-full: slategray;

        /* NPCs */

        --npc-header-c: #000022;

        /* Actions */

        --actioncard-action-c: cornflowerblue;
        --actioncard-reaction-c: coral;
        --actioncard-skill-icon-c: lightgreen;

        /* Box */

        --box-border-c: gray;
        --box-shadow-c: #80808080;


        /* Lore */
        --lore-img-border-c: aqua;
        --lore-dice-c: saddlebrown;
        --lore-active-cells-c: #440044;
        --lore-skill-rolls-header-c: black;
        --lore-skill-rolls-cells-c: #1c1c1c;

        /* Encounters */

        --encounter-buttonbar-background-c: #002200;

        /* Spell Actions */

        --spell-action-filter-allowed: darkolivegreen;
        --spell-action-filter-denied: maroon;

        /* generic */
        --default-border-c: white;
        --text-c: white;
        --background-c: black;
        --button-background-c: #404040;
        --button-disabled-c: #808080;
        --link-c: lightskyblue;
        --unsaved-background-c: firebrick;
        --menu-item-background-c: #2c002c;
        --header-background-c: #4c4c4c;
        --menu-item-hover-c: #4c004c;
        --striped-table-even-c: var(--default-box);
        --striped-table-odd-c: black;

        --font-weight: 350;
    }
}